<section class="card">
  <img class="card-img"
    src="https://lh4.googleusercontent.com/-u0gluzzun4w/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucmYI6NluzXjsLaTuorhit3n6cnpUQ/photo.jpg">
  <div class="card-content">
    <h1 class="card-title">Little Lama Cafe</h1>
    <p><span style="color: red;">Closed</span> 10:30 a.m. - 9 p.m.</p>
    <p>Indian Korean Chinese Western Cafe Momos</p>
    <p>Mixed fare cafe overlooking the hills & street with a kitsch vibe.</p>
    <button mat-raised-button>Order now</button>
  </div>
</section>
