.card {
  display: flex;
  flex-direction: row;
  height: 350px;
  background: #303030;
  border-radius: 5px;
  box-shadow: 0 0 12px black;
}
.card-img {
  border-radius: 5px 0 0 5px;
  height: 100%;
}
.card-content {
  padding: 50px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
}
