.container {
  width: 800px;
  max-height: 800px;
  &__image {
    top: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.content {
  padding: 30px;
  &__name {
    font-size: 56px;
    margin: 0 0 10px 0;
  }
  &__description {
    color: silver;
    font-size: 20px;
  }
}

.tags-container {
  margin: 0 0 20px 0;
}

.size-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0 0 0;
  border-top: solid white 1px;
  &__size {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
}

.topping-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;
  border-top: solid white 1px;
  &__topping {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__input {
    text-align: center;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  &__order-button {
    margin: 0 20px 0 0;
  }
}
