<div class="container">
  <img class="container__image" src="{{data?.imageUrl}}">
  <div class="content">
    <p class="content__name">{{data?.name}}</p>
    <p class="content__description">{{data?.description}}</p>
    <div class="tags-container">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of data.tags">{{tag}}</mat-chip>
      </mat-chip-list>
    </div>
    <mat-radio-group class='size-list'>
      <mat-radio-button class='size-list__size' *ngFor="let availableSize of availableSizes" [value]="availableSize" (change)='chosenSize = availableSize; calculate()'>
        {{availableSize.size}} size: ₹{{availableSize.price}}
      </mat-radio-button>
    </mat-radio-group>
    <ul class='topping-list'>
      <ng-container *ngFor="let topping of toppings">
        <li class='topping-list__topping' *ngIf="topping.name !== ''">
          <mat-checkbox [(ngModel)]="topping.selected" (change)='calculate()' [disabled]='!chosenSize'>
            {{topping.name}}: ₹ {{topping.price}}
          </mat-checkbox>
        </li>
      </ng-container>
    </ul>

    <form class="quantity-container" [formGroup]='form' *ngIf="chosenSize" (change)='calculate()'>
      <mat-form-field>
        <button mat-button mat-icon-button matPrefix (click)="decrement()">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput class="quantity-container__input" formControlName='quantity' readonly />
        <button mat-button mat-icon-button matSuffix (click)="increment()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div class="actions">
      <button mat-stroked-button class="actions__order-button" *ngIf="chosenSize && this.form.value.quantity !== 0" (click)='order()'>Add {{form.value.quantity}} items tp cart: ₹ {{sum}}</button>
      <button mat-stroked-button color='warn' (click)='onNoClick()'>Close</button>
    </div>
  </div>
</div>
