<div class="container">
  <div class="column1">
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/american.jpg">
      <p class='cuisine__text'>American</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/bakery.jpeg">
      <p class='cuisine__text'>Bakery</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/chinese.jpg">
      <p class='cuisine__text'>Chinese</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/tibetan.jpg">
      <p class='cuisine__text'>Tibetan</p>
    </div>
  </div>
  <div class="column1">
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/desert.jpeg">
      <p class='cuisine__text'>Dessets</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/italian.jpeg">
      <p class='cuisine__text'>Italian</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/japanese.jpeg">
      <p class='cuisine__text'>Japanese</p>
    </div>
  </div>
  <div class="column1">
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/korean.jpg">
      <p class='cuisine__text'>Korean</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/momos.jpg">
      <p class='cuisine__text'>Momos</p>
    </div>
    <div class='cuisine'>
      <img class='cuisine__image' src="/assets/images/thai.jpg">
      <p class='cuisine__text'>Thai</p>
    </div>
  </div>
</div>
