<div class="container">
  <h1 *ngIf="!menu">Add menu</h1>
  <h1 *ngIf="menu">Update menu</h1>
  <form [formGroup]='form' class="form">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Upload an image</mat-label>
      <ngx-mat-file-input accept="image/x-png,image/jpeg" [formControl]="image" (change)="fileChangeEvent($event)" required>
      </ngx-mat-file-input>
    </mat-form-field>

    <div class="cropper-container" *ngIf="imageChangedEvent">
      <image-cropper class="cropper-container__cropper" [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true" [aspectRatio]="1 / 1" format="png" (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
      </image-cropper>

      <img class="cropper-container__croppedImage" [src]="croppedImage" />
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" formControlName="description" autocomplete="off" required></textarea>
    </mat-form-field>

    <p>Only size ( if there is only one size )</p>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="onlyPrice" autocomplete="off">
    </mat-form-field>

    <p>S size ( if you set price for only size, you would not have to set price for S size )</p>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="sPrice" autocomplete="off">
    </mat-form-field>

    <p>M size ( if you set price for only size, you would not have to set price for M size )</p>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="mPrice" autocomplete="off">
    </mat-form-field>

    <p>L size ( if you set price for only size, you would not have to set price for L size )</p>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="lPrice" autocomplete="off">
    </mat-form-field>

    <p>Topping 1 (optional)</p>
    <mat-form-field appearance="outline">
      <mat-label>Topping 1 name</mat-label>
      <input matInput type="text" formControlName="topping1" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="topping1Price" autocomplete="off">
    </mat-form-field>

    <p>Topping 2 (optional)</p>
    <mat-form-field appearance="outline">
      <mat-label>Topping 2 name</mat-label>
      <input matInput type="text" formControlName="topping2" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="topping2Price" autocomplete="off">
    </mat-form-field>

    <p>Topping 3 (optional)</p>
    <mat-form-field appearance="outline">
      <mat-label>Topping 3 name</mat-label>
      <input matInput type="text" formControlName="topping3" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="topping3Price" autocomplete="off">
    </mat-form-field>

    <p>Topping 4 (optional)</p>
    <mat-form-field appearance="outline">
      <mat-label>Topping 4 name</mat-label>
      <input matInput type="text" formControlName="topping4" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="topping4Price" autocomplete="off">
    </mat-form-field>

    <p>Topping 5 (optional)</p>
    <mat-form-field appearance="outline">
      <mat-label>Topping 5 name</mat-label>
      <input matInput type="text" formControlName="topping5" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput type="text" formControlName="topping5Price" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="add tags" #tagsInput [formControl]="tagCtrl"t [matAutocomplete]="auto" [matChipInputFor]="chipList">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="selected($event)">
        <mat-option *ngFor="let filteredTag of filteredTags | async" [value]="filteredTag">
          {{filteredTag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button (click)='submit()'>Save</button>
  </form>
</div>
