.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  &__spacer {
    flex: 1 1 auto;
  }
  &__add-menu {
    margin: 0 20px 0 0;
  }
}

.container {
  width: 100%;
}

.restaurant-header {
  display: flex;
  flex-direction: row;
  height: 450px;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.restaurant-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 30px 60px;
  position: absolute;
  top: 109px;
  left: 0;
  height: 300px;
  width: 45%;
  background-color: #303030;
  &__name {
    font-size: 40px;
    margin: 0 0 20px 0;
  }
  &__time {
    margin: 0 0 10px 0;
  }
  &__opened {
    color: green;
    margin: 0 10px 0 0;
  }
  &__closed {
    color: red;
    margin: 0 10px 0 0;
  }
  &__description {
    margin: 0 0 10px 0;
  }
  &__address {
    margin: 0 0 10px 0;
  }
  &__number {
    margin: 0 0 20px 0;
  }
}
