<mat-toolbar color="primary" class="toolbar">
  <span class="toolbar__orderin">ORDERIN</span>
  <button mat-button class="toolbar__home" routerLink='/'>Home</button>
  <button mat-button class="toolbar__cuisines" routerLink='/cuisines'>Cuisines</button>
  <button mat-button class="toolbar__about" routerLink='/about'>About</button>
  <button mat-button class="toolbar__spacer"></button>
  <button mat-raised-button class="toolbar__login" routerLink='/develop'>Develop</button>
  <button mat-raised-button class="toolbar__login" routerLink='/login'>Login</button>
</mat-toolbar>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="grid">
    <div class="column1">
      <p class="column1__header">CONTACT US</p>
      <p>orderindelivery@gmail.com</p>
      <p>+91 96344 47438</p>
    </div>
    <div class="column2">
      <p class="column2__header">EXAMPLE</p>
      <p>The email next to this actually doesn't exist but ok.</p>
    </div>
    <div class="column3">
      <p class="column3__header">ABOUT US</p>
      <p>OrderIn Website for ordering things. I have to fix this. This is just an example. I hope I don't forget to fix this.</p>
    </div>
  </div>
  <div class="bottom">
    <p>ORDERIN</p>
  </div>
</footer>
