.toolbar {
  &__orderin {
    margin: 0 20px 0 0;
  }
  &__home {
    font-size: 16px;
    margin: 0 10px 0 0;
  }
  &__cuisines {
    font-size: 16px;
    margin: 0 10px 0 0;
  }
  &__about {
    font-size: 16px;
    margin: 0 10px 0 0;
  }
  &__spacer {
    flex: 1 1 auto;
  }
  &__develop-button {
    margin: 0 20px 0 0;
  }
}

.router-outlet {
  width: 100%;
  min-height: calc(100% - 414px);
  background-color: #303030;
}

.footer {
  width: 100%;
  height: 350px;
  background-color: #424242;
}

.grid {
  display: grid;
  width: 70%;
  height: 70%;
  margin: 0 auto 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.column1 {
  // background-color: red;
  &__header {
    font-size: 20px;
    margin: 70px 0 0 0;
  }
}

.column2 {
  // background-color: green;
  &__header {
    font-size: 20px;
    margin: 70px 0 0 0;
  }
}

.column3 {
  // background-color: blue;
  &__header {
    font-size: 20px;
    margin: 70px 0 0 0;
  }
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30%;
  margin: 0 auto;
  // background-color: pink;
}
