<div class="container">
  <p class="container__header">Restaurants</p>
  <div class="content">
    <div class="filters-container">
      <ul class="filters">
        <li *ngFor="let cuisine of cuisines">
          <mat-checkbox>
            {{cuisine}}
          </mat-checkbox>
        </li>
      </ul>
    </div>
    <div class="restaurants-container" *ngFor="let restaurant of restaurants | async">
      <app-restaurant-card [restaurant]='restaurant'></app-restaurant-card>
    </div>
  </div>
</div>

