.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  color: white;
  &__header {
    font-size: 28px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.filters-container {
  // background-color: pink;
  width: 20%;
}

.filters {
  list-style-type: none;
}

.restaurants-container {
  // background-color: blue;
  width: 80%;
}

